<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>md5 Hashing</title>
    </head>
    <body>
        <form action="/users/create" method="post">
            <p>Username: <input type="text" name="username"></p>
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <input type="submit" name="submit" value="Submit">
        </form>
        <form action="/users/login" method="post">
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <input type="submit" name="login" value="Login">
        </form>
    </body>
</html>
